<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cwd.Mapper.FoundMapper">
    <select id="getFoundList" resultType="com.cwd.Entity.Found">
        select * from found
    </select>
    <insert id="addFoundItem" parameterType="com.cwd.Entity.Found">
        <selectKey keyProperty="id" order="BEFORE"
                   resultType="java.lang.Integer">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert  into found(avatarUrl,openid,nickName,article,feature,foundplace,phone,image,mark)
        values(#{avatarUrl},#{openid},#{nickName},#{article},#{feature},#{foundplace},#{phone},#{image},#{mark})
    </insert>

</mapper>