<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cwd.Mapper.LostMapper">
    <select id="getLostList" resultType="com.cwd.Entity.Lost">
        select * from Lost
    </select>
</mapper>