<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cwd.Mapper.JobMapper">
    <insert id="addOneJob" parameterType="com.cwd.Entity.Job">
        <selectKey keyProperty="id" order="BEFORE"
                   resultType="java.lang.Integer">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into job(nickName,avatarUrl,openid,workName,companyName,workPlace,workContent,workTime,salary,contact,mark)
        values(#{nickName},#{avatarUrl},#{openid},#{workName},#{companyName},#{workPlace},#{workContent},#{workTime},#{salary},#{contact},#{mark})
    </insert>
    <select id="getJobList" resultType="com.cwd.Entity.Job">
        select * from job
    </select>
</mapper>